.a1{
    float: left;
    width: 7em;
    height: 5em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://media.istockphoto.com/id/1443049022/es/vector/patr%C3%B3n-crujiente-de-pollo-frito-sin-costuras-fondo-de-patr%C3%B3n-de-comida-r%C3%A1pida.jpg?s=612x612&w=0&k=20&c=7ROwTaUD9CHrdrMFEMDIAWeM1EXqOx5a-k7Tagywq7E=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}
.barras{display: none;
    
    }
    
.desplegable{background: #1e1e1e;

}
ul{
    display: flex;
    flex-direction: row;
    

}
ul li{
    padding: 10px;
    list-style: none;
}
ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}
nav ul li :hover{background: #ff5722;

}
@media (max-width: 850px ){
    


.barras{
    background-color: black;
    display: block;
}
.desplegable{
    background: none;
    transform: translate(-100%);
    transition: 0.5s;
    font-size: 1.5rem;
    width: 50%;
}
ul{
    display:flex ;
    flex-direction: column;
    height: 100vh;

}
a{
    padding: 0;
}
a{
    font-size: 1.5rem;
    padding: 20px 0px 20px 20px;
    display: block;
    text-align: left;
    

}
.boton_menu{
    background-image: url(https://us.123rf.com/450wm/dihard909/dihard9092301/dihard909230100019/196321663-options-line-icon-isolated-on-white-background-black-flat-thin-icon-on-modern-outline-style-linear.jpg?ver=6);
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    height: 30px; 
    width: 30px;
    background-size: 30px 30px;
    background-position: center;

}
button{
    margin: 5px;
    border: none;
    margin: 10px 10px 10px 20px;

}
.abrir_menu{
    background: rgba(30,30,30, 0.6);
    backdrop-filter: blur(2px);
    transform: translate(0%);
    width: 50%;
    transition: 0.5s;
}

.colocar_x{
    background-image: url(https://us.123rf.com/450wm/dihard909/dihard9092301/dihard909230100019/196321663-options-line-icon-isolated-on-white-background-black-flat-thin-icon-on-modern-outline-style-linear.jpg?ver=6);
    background-color:red;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;

}
}
@media (max-width: 500px ){
    .desplegable{
        width: 100%;
        height: 100vh;
        font-size: 1.6rem;
        position: absolute;
    }
    .p4  {
        width: 100%;
        height: 50% ;
    }
    
    #p2{
        width: 100%;
        height: 50% ;
    }
    #p9{
        width: 100%;
        height: 50% ;
    }
    #p3{
        width: 100%;
        height: 50% ;
    }
    #m1{
        width: 100%;
        height: 50% ;

    }
    #z1{
        width: 100%;
        height: 50% ;

    }
    

}
.p2{
    transition: transform 0.3s ease;
    width: 30em;
    height: 20em;
}
.p1{
    width: 30em;
    height: 20em;
    transform: scale(0.8);
}
.p2:hover{
    
    transform: scale(0.8);

}
.p3{
    transition: transform 0.3s ease;

    width: 40em;
    height: 40em;
}
.p3:hover{
    transform: scale(0.8);

}

h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: chocolate;
}
.m1{
    width: 20em;
    height: 19em;
    transition: transform 0.3s ease;

}
.z1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    transition: transform 0.3s ease;

}
.m1:hover{
    transform: scale(0.8);
 
}
.z1:hover{
    transform: scale(0.8);
 
}
.t1{
    background-color: rgba(255, 255, 255, 0.795);
    border-color: rgba(165, 42, 42, 0);
}
